body {
    background-color: rgb(223, 66, 210);
    color: white;
    font-family: Arial static;
    font-weight: bold;
}

.chamada {
    background-color: rgb(10, 2, 43);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}